# Ignore venv
venv/

# Ignore pkl
*.pkl

# Ignore pipenv
Pipfile
Pipfile.lock

# Ignore IDE specific files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc

# Ignore environment variables file
.env

# Ignore system files
.DS_Store
